<div class="row no-print">
    <div class="col-md-12">
        <h1 class="box-title">Comptes comptables </h1>
        <div class="row">
        <div class="col-xs-12">
        <a class="btn btn-app" ui-sref="accounting.list">
                    <span class="badge bg-green">{{countOfArticles}}</span>
                    <i class="fa fa-list"></i>Comptes
        </a>
        <a class="btn btn-app" ui-sref="accounting.add">
                    <i class="fa fa-plus"></i>Créer compte
        </a>



        </div>
        </div>
        </div>
      
</div>
<div class="row">
    <route-loading/>
    <div ng-if='!isRouteLoading' class="col-md-12" ui-view>
    </div>
</div>
