<span ui-view>
<div class="row no-print" >
    <div class="col-md-12" style="padding: 10px;">
      
          <button class="btn" ng-click="ctrl.clear()"> Nouveau</button> 
          <button class="btn" ng-click="ctrl.add()"  ng-hide="item.id" ng-disabled="item.reference === undefined || item.reference === ''"> Enregistrer</button>

          <button class="btn" ng-click="ctrl.update()"  ng-hide="!item.id" ng-disabled="(item.FactureId !== undefined && item.FactureId !== null )  || (item.LivraisonVenteId !== undefined && item.LivraisonVenteId !== null)|| (item.reference === undefined || item.reference === '') || item.livree "> Modifier</button>   

          <button class="btn" ng-click="ctrl.print()"> Imprimer </button> 
          
          <button class="btn" ng-click="ctrl.deliver()" ng-disabled="!item.id || item.livree" > Livrer </button>

          <button class="btn" ng-click="ctrl.convertToInvoice()" ng-disabled="!item.id || item.facturee" > Facturer 
          </button> 
          <button class="btn" ng-click="ctrl.encaisse()" ng-disabled="!item.id || item.payee || item.Facture.payee"> Régler </button>

      </div>
    
</div>    

<div class="row toprint" id="toprint">
    <div class="col-md-12" >
    


            <header>
              <h1 style="border: 1px dashed black;" >{{title}}</h1>
              <!--<address style="font-size: 35px;">
                <p contenteditable="true" ng-model="company.raisonSociale" ng-attr-contenteditable="{{ editMode }}"></p>
                <p contenteditable="true" ng-model="company.addresse" ng-attr-contenteditable="{{ editMode }}"></p>
                <p contenteditable="true" ng-model="company.codePostal" ng-attr-contenteditable="{{ editMode }}"></p>
                <p contenteditable="true" ng-model="company.ville" ng-attr-contenteditable="{{ editMode }}"></p>

              </address>
              <span><img alt=""  id="logo" ng-src="{{ company.logo }}"><input style="width:20px;height:10px;" type="file" id="logoInput" accept="image/*" /></span>-->

            </header>
            <article >
              <h1>Recipient</h1>
              <!--<address class="meta">

                <p contenteditable="true" ng-model="client.nom" ng-attr-contenteditable="{{ editMode }}"></p>
                <p contenteditable="true" ng-model="client.address" ng-attr-contenteditable="{{ editMode }}"></p>
                <p contenteditable="true" ng-model="client.tel" ng-attr-contenteditable="{{ editMode }}"></p>
                <p contenteditable="true" ng-model="client.email" ng-attr-contenteditable="{{ editMode }}"></p>

              </address>-->
              <table >
                <tr>
                  <th><span>Référence Interne #</span></th>
                  <td><span contenteditable="true" ng-model="item.reference" ng-attr-contenteditable="{{ editMode}}"></span></td>
                </tr>
                <tr>
                  <th><span>Référence #</span></th>
                  <td><span contenteditable="true" ng-model="item.referenceExt" ng-attr-contenteditable="true"></span></td>
                </tr>

                <tr>
                  <th><span >Date</span></th>
                  <td><input type="date" ng-model="item.date"/></span></td>
                </tr>
                <tr>
                  <th ui-sref="smgmt.addSaleOrder.selectClient" style="cursor: pointer;"><span > Client</span></th>
                  <td><span>{{client.reference }} | {{client.nom }} </span></td>
                </tr>
                <tr>
                  <th  style="cursor: pointer;"><span > Paiement par</span></th>
                  <td>
                    <select ng-model="item.paiement" class="form-control">
                      <option value="espéces">Espéces</option>
                      <option  value="chéques">Chéque</option>
                      
                    </select>
                  </td>
                </tr>
                <tr ng-show="item.paiement == 'chéques' ">
                  <th style="border-width: 0px;width: 20%;"><span>Numéro de chéque</span></th>
                  <td>
                    <span contenteditable="true" ng-model="item.chequeno" ng-attr-contenteditable="true">
                      {{ item.chequeno }}
                    </span>
                  </td>
                </tr>
              </table>
              <table class="inventory">
                <thead>
                  <tr>
                    <th class="no-print"><span>Suppr</span></th>
                    <th><span >Article</span></th>
                    <th><span >Désignation</span></th>
                    <th><span >Unité de mesure</span></th>
                    
                    <th><span >Quantité</span></th>
                    <th><span >Prix HT</span></th>
                    <th class="no-print"><span >Prix TTC</span></th>
                    
                    <th><span >Total </span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="it in item.items">
                    <td class="no-print"><button style="margin: 0px;padding: 0px; width: 15px;" class="no-print" ng-click="removeItem(it)"><i class="fa fa-minus-circle"></i></button></td>
                    <td><span contenteditable="true" ng-model="it.reference">{{it.reference}}</span></td>
                    <td style="text-align: left;"><span contenteditable="true" ng-model="it.designation" ng-attr-contenteditable="{{editMode}}">{{it.designation}}</span></td>
                    <td style="text-align: left;"><span contenteditable="false" ng-model="it.unite">{{it.unite}}</span></td>
<td><span  contenteditable="true" g-attr-contenteditable="{{editMode}}" style="float:left;" ng-model="it.quantite">{{it.quantite}} </span><span style="width: 30%; float: right;" class="no-print label label-danger">{{it.qReel - it.quantite}}</span></td>
                    
                    <td style="text-align: left;">
                    <span>{{ (it.prixUnitaire / ( 1 + it.taxe )) | number : 2 }}</span>
                    

                    </td>
                     
                    <td style="text-align: left;" class="no-print">
                    <span contenteditable="true" g-attr-contenteditable="{{editMode}}" ng-model="it.prixUnitaire">{{it.prixUnitaire}}</span>
                    <span style="width: 30%;float: right;" class="label label-danger no-print">{{it.prixAchat}}</span>

                    </td>
                    <td style="text-align: left;"><span>{{ it.prixUnitaire * it.quantite }} </span></td>
                  </tr>
                </tbody>
              </table>
              <a class="btn btn-primary no-print" ui-sref="smgmt.addSaleOrder.selectArticle">+</a>
              <table class="balance">
                <tr>
                  <th><span >Somme HT</span></th>
                  <td><span>{{ calculateSubTotal() }}</span> <span data-prefix>{{item.monnaie}}</span></td>
                </tr>
                <tr>
                  <th><span >TVA à {{ item.taxe * 100 }}%</span> </th>
                  <td>
                    <span  >{{ (item.tva = item.somme   - item.sommeHT )| number : 2 }} </span><span data-prefix>{{ item.monnaie }}</span>
                  </td>
                </tr>
                <tr>
                  <th><span >Somme TTC</span></th>
                  <td><span>{{ calculateTotal() }} <span data-prefix>{{ item.monnaie }}</span></span></td>
                </tr>
              </table>
            </article>

            <div class="docfooter" >
              <h1><span >Notes Additionnelles</span></h1>
              <div contenteditable="true" ng-model="item.notes" ng-attr-contenteditable="true">
                <p>Nous restons à votre disposition pour toute information complémentaire.</p>
                <p>Cordialement.</p>
              </div>
            </div>

</div>
</div>
</span>
