<div class="row">
    <div class="col-md-12">
          
        <h1>Création des familles</h1>
          
    </div>
</div>   
<div ui-view>
<div class="row">
    <div class="col-md-12">
          
          <button class="btn" ng-click="ctrl.clear()"> Effacer </button>
          <button class="btn" ng-click="ctrl.add()"> Enregistrer</button>
                    

    </div>
</div>   


      <div class="row">
        <div class="col-md-12">
        
        			<label> Réference</label><input type="text" class="form-control" ng-model="item.reference" placeholder="entrez le code de votre article"/>
        			<label> Désignation  </label><input type="text" class="form-control" ng-model="item.designation" placeholder="entrez la désignation de votre article"/>

        </div>
      </div>
    </pane>
