 <div class="row">
        <div class="col-md-12">
          <h1>Bons de livraisons </h1>
        </div>
 </div>
 <div class="row" >
    <div ng-include="'views/list-header-actions-details.html'" class="col-md-12">
         
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary" ui-sref="pmgmt.deliveries.selectorder" style="padding-left:1px;margin-left:2px;text-transform: uppercase;width: 100%;">Commande Achat ..</a>
 
    </div>
     <div class="col-md-3">
      <input style="width: 100%"  ng-model="CommandeAchat.reference" class="form-control" /> 
       
 
     </div>
    <div class="col-md-3">
      <a class="btn btn-primary" ui-sref="pmgmt.deliveries.selectprovider" style="padding-left:1px;margin-left:2px;text-transform: uppercase;width: 100%;"> Sélectionner le fournisseur</a>
    </div>
    <div class="col-md-3">
      <input style="width: 100%"  ng-model="fournisseur.reference" class="form-control" /> 
    </div>    
    <div class="col-md-12"><hr></div>
    <div class="col-md-3">
         <select class="form-control" ng-model="pageSize">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="100">100</option>
          <option value="1000">1000</option>
          <option value="1000000">Tous</option>          
       </select>       
   
    </div>    
   
    <div class="col-md-3">
      <input style="width: 100%"  placeholder="Réference" ng-model="state.reference" class="form-control" /> 
    </div>    
 
    <div class="col-md-3">
      <input placeholder="Début de période" class="form-control" type="text" onfocus="(this.type='date')" 
       ng-model="state.startPeriod" value="{{ startPeriod | date: 'yyyy-MM-dd' }}"> 
    </div>    
    <div class="col-md-3">
      <input placeholder="Fin de période" class="form-control" type="text" onfocus="(this.type='date')" 
       ng-model="state.endPeriod" value="{{ endPeriod | date: 'yyyy-MM-dd' }}">       
    </div>   
    
</div>  

      <div class="row" ui-view>
         <div class="col-xs-12">
            
              <div class="box-body table-responsive ">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>ID</th>
                    <th>Réference</th> 
                    
                    <th>Date</th>
                    <th>Fournisseur</th>
                    <th>Réglé?
                      <select ng-model="state.paidString">
                        <option value="true">OUI</option>
                        <option value="false">NON</option>
                        <option value="all">TOUS</option>
                        
                      </select>
                    </th>
                    <th>Commande d'achat</th>
                    <th>Somme</th>
                    
                    
                  </tr>
                  <tr ng-repeat="e in items" ng-click="ctrl.setSelected(e.id)" style="cursor: pointer;" ng-class="{'row-selected':selections.indexOf(e) !== -1 }">
                    <td>{{e.id}}</td>
                    <td>{{e.reference}}</td>
                    
                    <td>{{e.date | date}}</td>
                    <td>{{e.CommandeAchat.Fournisseur.reference || e.Fournisseur.reference }}  | {{e.CommandeAchat.Fournisseur.nom || e.Fournisseur.nom }}</td>
                    <td><span ng-show="e.payee">OUI</span><span ng-show="!e.payee">NON</span></td>
                    <td>{{e.CommandeAchat.reference || '-----'}}</td>
                    <td>{{e.somme}}</td>
                  </tr>
                </tbody></table>
              </div>
              
            <!-- /.box -->
         </div>            
      </div>
