 <div class="row">
        <div class="col-md-12">
           
                <h1 class="box-title">Articles-Etat de stock</h1>
        </div>
 </div>


  
 <div class="row no-print" >
    <div ng-include="'views/list-header-actions-printexport.html'" class="col-md-12">
    
    </div>

     <div  class="col-md-3">
  
      <select class="form-control" ng-model="pageSize">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="100">100</option>
          <option value="1000">1000</option>
          <option value="1000000">Tous</option>
          
       </select> 

         
    </div>
    <div  class="col-md-3">
      <input class="form-control" type="text"  ng-model="familly" placeholder="Entrez la famille"/>
    </div>
    <div class="col-md-3">
      <input type="text" style="float: right;" ng-model="search" placeholder="Rechercher"  class="form-control" />
    </div>
    <div  class="col-md-3">
     <a class="btn btn-primary" ui-sref="inventory.articles.famillySelect">Sélectionner..</a>    
    </div>
    
</div>  
      <div class="row">
         <div class="col-xs-12" ui-view>
            
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>Famille <button ng-show="!ordered" class="no-print" ng-click="ctrl.getInitialByFamillyPage()">Trier</button>
                    <button ng-show="ordered" class="no-print" ng-click="ctrl.getInitialPage()">Reset</button>
                    </th>                  
                    <th>Réference</th>
                    <th>Désignation</th>
                    <th>Prix Achat</th>
                    <th>Prix Vente</th>
                    <th>Taxe</th>
                    <th>Unité</th>
                    <th>Quantité</th>
                    <th>Quantité Min</th>
                    
                    <th>Quantité périmée</th>
                    <th>Total achats</th>  
                    
                  </tr>
                  <tr ng-repeat="e in items" style="cursor: pointer;" ng-click="ctrl.handleClick(e)" ng-dblclick="ctrl.handleDoubleClick(e)" ng-class="{'row-selected':selections.indexOf(e) !== -1}">
                    <td contenteditable="true" ng-model="e.FamilleReference" ng-attr-contenteditable="{{ editMode }}">{{e.FamilleReference}}</td>                    
                    <td contenteditable="true" ng-model="e.reference"  ng-attr-contenteditable="{{ editMode }}">{{e.reference}}</td>

                    <td contenteditable="true" ng-model="e.designation" ng-attr-contenteditable="{{ editMode }}">{{e.designation}}</td>
                    
                    <td style="background: gray;color:white;font-size : 20px;" contenteditable="true" ng-model="e.prixAchat" ng-attr-contenteditable="{{ editMode }}">{{e.prixAchat}}</td>  

                    <td style="background: red;color:white;font-size : 20px;" contenteditable="true" ng-model="e.prixUnitaire" ng-attr-contenteditable="{{ editMode }}">{{e.prixUnitaire}}</td>

                    <td contenteditable="true" ng-model="e.taxe" ng-attr-contenteditable="{{ editMode }}">{{e.taxe}}</td>

                    <td contenteditable="true" ng-model="e.unite" ng-attr-contenteditable="{{ editMode }}">{{e.unite}}</td>

                    <td ng-model="e.qReel" ng-attr-contenteditable="false" style="background: green;color:white;font-size : 20px;">{{e.qReel}} </td>
                    <td contenteditable="true" ng-model="e.qMin" ng-attr-contenteditable="{{ editMode }}">{{e.qPerime}}</td>
                    

                    <td contenteditable="true" ng-model="e.qPerime" ng-attr-contenteditable="{{ editMode }}">{{e.qPerime}}</td>
                    <td style="text-align: left;"><span>{{ e.prixAchat * e.qReel }}</span></td>

                  </tr>
                </tbody></table>
              
                <span>Total Achats : </span><span>{{calculateTotal()}}</span>
            <!-- /.box -->
         </div>            
      </div>
      
