 <div class="row">
        <div class="col-md-12">
          <h1>Familles</h1>
        </div>
 </div>
 <div class="row">
    <div ng-include="'views/list-header-actions.html'" class="col-md-12">
         
    </div>
    <div class="col-md-12">
      <select class="form-control" ng-model="pageSize">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="100">100</option>
          <option value="1000">1000</option>
          <option value="1000000">Tous</option>          
       </select>       
    </div>
</div>  

      <div class="row">
         <div class="col-xs-12">
           
              
              <!-- /.box-header -->
              <div class="box-body table-responsive ">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>Réference</th>
                    <th>Désignation</th>
                  </tr>
                  <tr ng-repeat="e in items"  style="cursor: pointer;" ng-click="ctrl.handleClick(e)" ng-dblclick="ctrl.handleDoubleClick(e)" ng-class="{'row-selected':selections.indexOf(e) !== -1}">
                  
                    <td contenteditable="true" ng-model="e.reference"  ng-attr-contenteditable="{{ editMode }}">{{e.reference}}</td>

                    <td contenteditable="true" ng-model="e.designation" ng-attr-contenteditable="{{ editMode }}">{{e.designation}}</td>                   
                  </tr>
                </tbody></table>
              </div>
             
         </div>            
      </div>
