 <div class="row">
        <div class="col-md-12">
          <h1>Bons de livraison</h1>
        </div>
 </div>
 <div class="row">
    <div ng-include="'views/list-header-actions-details.html'" class="col-md-12">
         
    </div>
    <div class="col-md-3">
      <select class="form-control" ng-model="pageSize">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="100">100</option>
          <option value="1000">1000</option>
          <option value="1000000">Tous</option>          
       </select>  

    </div>
    <div class="col-md-3">
      <select class="form-control" ng-model="payee">
          <option value="payee">Réglés</option>
          <option value="nonpayee">Non réglés</option>
          <option value="tous">Tous</option>
          
       </select>  

    </div>
    
    <div class="col-md-3">
      <a class="btn btn-primary" ui-sref="smgmt.deliveries.selectClient" style="padding-left:1px;margin-left:2px;text-transform: uppercase;width: 100%;"> Sélectionner le client</a>
    </div>
    <div class="col-md-3">
      <input style="width: 100%"  ng-model="client.reference" class="form-control" /> 
    </div>    
    <div class="col-md-12"><hr></div>
    <div class="col-md-3">
      <input style="width: 100%"  placeholder="Réference" ng-model="reference" class="form-control" /> 
    </div>    
    <div class="col-md-3">
      <input placeholder="Début de période" class="form-control" type="text" onfocus="(this.type='date')" 
       ng-model="startPeriod" value="{{ startPeriod | date: 'yyyy-MM-dd' }}"> 
    </div>    
    <div class="col-md-3">
      <input placeholder="Fin de période" class="form-control" type="text" onfocus="(this.type='date')" 
       ng-model="endPeriod" value="{{ endPeriod | date: 'yyyy-MM-dd' }}">       
    </div>    
    
</div>  
<div class="row" ui-view>
         <div class="col-xs-12">
            <div class="box-body table-responsive ">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>Réference</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Taxe</th>
                    <th>Réglé?</th>
                    <th>Somme</th>

                  </tr>
                  <tr ng-repeat="e in items track by $index" ng-click="ctrl.setSelected(e.id)" style="cursor: pointer;" ng-class="{'row-selected':selections.indexOf(e) !== -1}">
                    <td>{{e.reference}}</td>
                    <td>{{e.Client.reference}} | {{e.Client.nom}}</td>
                    <td>{{e.date | date}}</td>
                    <td>{{e.taxe}}</td>
                    <td><span ng-show="e.payee">OUI</span> <span ng-show="!e.payee">NON</span></td>
                    <td>{{e.somme}}</td>
                  </tr>
                </tbody></table>
              </div>
          </div>            
</div>