 <div class="row">
        <div class="col-md-12">
        	<h1>Charges</h1>
        </div>
 </div>
  <div class="row">
    <div ng-include="'views/list-header-actions.html'" class="col-md-12">
         
    </div>
    <div class="col-md-12">
      <select class="form-control" ng-model="pageSize">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="100">100</option>
          <option value="1000">1000</option>
          <option value="1000000">Tous</option>          
       </select>       
    </div>
</div>  
      <div class="row"> 
         <div class="col-xs-12">
             
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Montant</th>
                    <th>Date</th>
                    
                  </tr>
                  <tr ng-repeat="e in items" style="cursor: pointer;" ng-click="ctrl.handleClick(e)" ng-dblclick="ctrl.handleDoubleClick(e)" ng-class="{'row-selected':selections.indexOf(e) !== -1}">
                    <td>{{e.id}}</td>
                    <td>{{e.CategorieCharge.name}}</td>
                    <td>{{e.description}}</td>
                    <td><span class="label label-success">{{e.montant}}</span></td>
                    <td>{{e.date | date }}</td>
                    
                  </tr>
                </tbody></table>
         </div>            
      </div>
