
  <header class="main-header no-print">

  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar no-print">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li><a href="#/main"><i class="fa fa-home"></i> <span>Acceuil</span></a></li>
                
        <li>
          <a href="#/pmgmt">
            <i class="fa fa-truck"></i>
            <span>Gestion des achats</span>
          </a>
          
        </li>
        <li >
          <a href="#/smgmt">
            <i class="fa fa-shopping-bag"></i>
            <span>Gestion des ventes</span>
          </a>
        </li>
        <li >
          <a href="#/mmgmt">
            <i class="fa fa-edit"></i> <span>Gestion des fabrications</span>
          </a>
        </li>        
        <li class="header"></li>
        
        <li>
          <a href="#/stmgmt">
            <i class="fa fa-server"></i>
            <span>Gestion de stock</span>
          </a>
          </li>

        <li >
          <a href="#/charges">
            <i class="fa fa-table"></i> <span>Charges</span>
            
          </a>
          
        </li>
        <li class="header"></li>
        <li><a href="#/conf"><i class="fa fa-cog"></i> <span>Configuration</span></a></li>
        
        <li><a href="#/about"><i class="fa fa-question-circle"></i> <span>A Propos </span></a></li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <flash-message 
        duration="3000"
        show-close="true">
      </flash-message> 
    
    </section>
<section class="content"  ui-view></section>
<!--    <section class="content"  ui-view>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">CPU Traffic</span>
              <span class="info-box-number">90<small>%</small></span>
            </div>
          </div>
        </div>
        
    
        <div class="clearfix visible-sm-block"></div>

      </div>

    </section>-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer no-print">
    <div class="pull-right hidden-xs">
      <b>VERSION</b> 1.0
    </div>
    <strong>LOGÉCIEL DE GESTION COMMERCIALE  </strong> 
  </footer>

 