
    <div  style="background:yellow;margin: 0 ; padding: 0;margin-left:auto;text-align: center;margin-top:auto;text-transform: uppercase; " class="no-print row" ng-show="!hideHeader">
    
    
              <h1 class="box-title">Gestion des achats </h1>
             <div class="col-xs-12">

                    <a class="btn btn-app" ui-sref="pmgmt.providers" >
                                    <span class="badge bg-green">{{ countOfProviders }}</span>
                                    <i class="fa fa-bars" aria-hidden="true"></i> Fournisseurs
                    </a>
                    <a class="btn btn-app" ui-sref="pmgmt.addprovider">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter fournisseur
                    </a>
                    <a class="btn btn-app" ui-sref="pmgmt.porder">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Créer commande d'achat
                    </a>
                    <a class="btn btn-app" ui-sref="pmgmt.list">
                                    <span class="badge bg-green">{{ countOfOrders }}</span>
                                    <i class="fa fa-server" aria-hidden="true"></i> Commandes d'achat
                    </a>

                    <a class="btn btn-app" ui-sref="pmgmt.delivery">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Saisir bon de livraison
                    </a>

                    <a class="btn btn-app" ui-sref="pmgmt.deliveries">
                                    <span class="badge bg-green">{{ countOfDeliveryForms }}</span>
                                    <i class="fa fa-server" aria-hidden="true"></i> Bons de livraisons
                    </a>
                    <a class="btn btn-app" ui-sref="pmgmt.invoice">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Saisir facture
                    </a>

                    <a class="btn btn-app" ui-sref="pmgmt.invoices">
                                    <span class="badge bg-green">{{ countOfInvoices }}</span>
                                    <i class="fa fa-server" aria-hidden="true"></i> Factures
                    </a>
                    <a class="btn btn-app" ui-sref="pmgmt.reglement">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Ajouter réglement
                    </a>

                    <a class="btn btn-app" ui-sref="pmgmt.reglements" ng-show="User.isAdmin">
                                    <span class="badge bg-green">{{ countOfReglements }}</span>
                                    <i class="fa fa-server" aria-hidden="true"></i> Réglements
                    </a>

                    <a class="btn btn-app" ui-sref="pmgmt.journal" ng-show="User.isAdmin">
                                    <span class="badge bg-green">{{ countOfJournal }}</span>
                                    <i class="fa fa-server" aria-hidden="true"></i> Journal achats
                    </a>
                    <a class="btn btn-app" ui-sref="pmgmt.journalprovider" ng-show="User.isAdmin">
                                    <span class="badge bg-green">{{ countOfJournal }}</span>
                                    <i class="fa fa-server" aria-hidden="true"></i> Journal Fournisseurs
                    </a>

              </div>             
   
    </div>
    



<div class="row">
  <div class="col-md-12" ui-view>
    
  </div>
</div>
