 <div class="row">
    <div class="col-md-12">
      
          <a class="btn" ui-sref="inventory.articles" > Fermer </a>

      
    </div>
</div>  


      <div class="row">
         <div class="col-xs-12">
           
              
              <!-- /.box-header -->
              <div class="box-body table-responsive ">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>Réference</th>
                    <th>Désignation</th>
                  </tr>
                  <tr ng-repeat="e in items"  style="cursor: pointer;" ng-click="ctrl.handleClick(e)" ng-dblclick="ctrl.handleDoubleClick(e)" ng-class="{'row-selected':selections.indexOf(e) !== -1}">
                    <td>{{e.reference}}</td>
                    <td>{{e.designation}}</td>
                  </tr>
                </tbody></table>
              </div>
             
         </div>            
      </div>

