  <div class="row">
        <div class="col-md-12">
          <h1>CLIENTS</h1>
        </div>
 </div>
   <div class="row">
    <div class="col-md-12">
      <div class="box" style="padding: 10px;">
          <a class="btn" ng-click="ctrl.goBack()" > Fermer </a>
          <a class="btn" ng-click="ctrl.nextPage()" style="float: right;"> Suivant </a>
          <a class="btn" ng-click="ctrl.prevPage()" style="float: right;"> Précedent </a>
      </div>
    </div>
</div>  
 <div class="row">
    <div class="col-md-12" style="padding-bottom: 10px;">
      <div class="box" style="padding: 10px;">

        <select style="width: 47%;float: left;" class="form-control" ng-model="pageSize">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="100">100</option>
              <option value="1000">1000</option>
              <option value="1000000">Tous</option>   
          </select>
          <input type="text" style="width: 50%;float: right;" ng-model="search" placeholder="Rechercher"  class="form-control" />

          
      </div>
    </div>
</div>  
<div class="row">
         <div class="col-xs-12" >
              <!-- /.box-header -->
              <div class="table-responsive " style="background: gray;">
                <table class="table table-hover" style="background: gray;">
                  <tbody>
                  <tr>
                    <th>ID</th>
                    <th>Réference</th>
                    <th>Nom</th>
                    <th>Solde</th>
                    <th>Représentant</th>
                    <th>Tél</th>
                    <th>Email</th>
                  </tr>
                  <tr ng-repeat="e in items" style="cursor: pointer;" ng-dblclick="ctrl.handleDoubleClick(e)" ng-click="ctrl.handleClick(e)" ng-class="{'row-selected':e.id === selected.id}">
                    <td>{{e.id}}</td>
                    <td>{{e.reference}}</td>
                    <td>{{e.nom}}</td>
                    <td>{{e.solde}}</td>
                    <td>{{e.representant}}</td>
                    <td>{{e.tel}}</td>
                    
                    <td><span class="label label-success">{{e.email}}</span></td>
                  </tr>
                </tbody></table>
              </div>
         </div>            
</div>