 <div class="row">
        <div class="col-md-12">
          <a ng-click="ctrl.close()">Fermer</a>
        </div>
 </div>
 <div class="row">
    <div ng-include="'views/list-header-actions.html'" class="col-md-12">
         
    </div>
    <div class="col-md-12">
      <select class="form-control" ng-model="pageSize">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="100">100</option>
          <option value="1000">1000</option>
          <option value="1000000">Tous</option>   
       </select>       
    </div>    
</div>  

      <div class="row">
         <div class="col-xs-12">
            
              <div class="box-body table-responsive ">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                   
                    <th>Réference</th>
                    <th>Etat</th>

                    <th>Livrée?</th>
                    <th>Facturée?</th>
                    <th>Date</th>
                    
                  </tr>
                  <tr ng-repeat="e in items" ng-click="ctrl.setSelected(e.id)" style="cursor: pointer;" ng-class="{'row-selected':selections.indexOf(e) !== -1 }">
                   
                    <td>{{e.reference}}</td>
                    <td><span   ng-class="{'label label-success': e.etat === 'en stock','label label-danger': e.etat !== 'en stock' }">{{e.etat}}</span></td>
                    <td ng-show="e.livree" >OUI</td>
                    <td ng-show="!e.livree" >NON</td>
                    
                    <td ng-show="e.facturee">OUI</td>
                    <td ng-show="!e.facturee">NON</td>                    
                    <td>{{e.date | date}}</td>
                  </tr>
                </tbody></table>
              </div>
              
            <!-- /.box -->
         </div>            
      </div>
