
<div class="row box" style="background: #ff0000;color: white;font-weight: 15px;font-size: 30px;text-transform: uppercase;">
<div class="col-xs-12">
<h1>Fin de la période d'essai </h1>
<hr>

Cette version du logiciel de gestion commerciale 360 est une version destinée pour l'essai.<br>
Si vous voulez continuer à utiliser  ce logiciel merci de nous contacter

<span> Pour Obtenir la version complete via </span>

<p>Notre addresse email  : mr0.0nerd@gmail.com </p>

<p> Ou bien notre page facebook https://www.facebook.com/ahmed.bou23 </p>

</div>
</div>