      <div class="row no-print">
        <div class="col-md-12" style="text-transform: uppercase;margin-left:auto;text-align: center;margin-top:auto;">
          
              <h1 class="box-title">Gestion des utilisateurs</h1>

              
              <div class="row">
                <div class="col-xs-12">
                  <a class="btn btn-app" ui-sref="users.consult">
                    <span class="badge bg-green">{{userTotal}}</span>
                    <i class="fa fa-list"></i>Consulter
                  </a>
                  <a class="btn btn-app" ui-sref="users.add">
                    <i class="fa fa-plus"></i>Créer..
                  </a>



                </div>

              </div>
              
        </div>
        <!-- /.col -->
      </div>
</div>
<div class="row">
        <route-loading/>
        <div ng-if='!isRouteLoading' class="col-md-12" ui-view>
          
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
